name = "talewright"
main = "src/index.ts"
compatibility_date = "2025-01-29"

kv_namespaces = [
  { binding = "CHAT_AGENT_KV", id = "3731c1b3f93c498ca0460f7bc9335c2d" }
]

[vars]
LETTA_BASE_URL = "https://app.letta.com/v1"
TELEGRAM_WEBHOOK_PATH = "/telegram/webhook"
LETTA_TEMPLATE_VERSION = "talewright:latest"
LETTA_PROJECT = "default-project"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
